<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eps.buscamines">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Buscamines">
        <activity android:name=".Minesweeper"></activity>
        <activity
            android:name=".MailSender"
            android:label="@string/mail_sender_text" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/help_title" />
        <activity
            android:name=".PreStartActivity"
            android:label="@string/prestart_title" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>